.shopify_plus {
	&__inner {
		position: relative;
		padding: fluid-size(80, 140) fluid-size(25, 125) fluid-size(130, 220); 
	}

  &__title {
    margin-bottom: fluid-size(85, 110);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: fluid-size(30, 45);
    text-align: justify;

    @include media-up(md) {
      max-width: 80%;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__item_title {
    color: var(--color-text-black);
  }

  &__item_text {
    font-size: fluid-size(12, 20);
    line-height: 137%;
    color: var(--color-text-black);
  }
}