.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  border: fluid-size(1, 2) solid white;
  border-radius: 50%;
  background: black;
  transition: ease-in-out 0.3s;

  &--active {
    border: none;
    background: var(--color-btn-primary);

    .icon {
      transform: rotate(45deg);
      color: black;
    }
  }

  &--lg {
    width: fluid-size(25, 72);
    height: fluid-size(25, 72);

    .icon {
      width: fluid-size(20, 40);
      height: fluid-size(20, 40);
    }
  }

  &--service {
    @include media-up(lg) {
      width: fluid-size(20, 100);
      height: fluid-size(20, 100);

      .icon {
        width: fluid-size(16, 60);
        height: fluid-size(16, 60);
      }
    }

    @include media-down(lg) {
      width: 50px;
      height: 50px;

      .icon {
        width: 30px;
        height: 30px;
      }
    }
  }

  &--xl {
    width: fluid-size(30, 100);
    height: fluid-size(30, 100);

    .icon {
      width: fluid-size(18, 60);
      height: fluid-size(18, 60);
    }
  }

  &--hover {
    &:hover {
      border: none;
      background: #CEE16F;
    }
  }
}

.icon {
  transition: 0.3s;
  color: white;
  transform: rotate(-135deg);
}