  :root {
    --color-white: #fff;
    --color-black: #000;
    --color-primary: #CBE16E;
    --color-error: #F64B4E;
    
    --color-title-white: var(--color-white);
    --color-title-primary: var(--color-primary);

    --color-btn-primary: var(--color-primary);

    --color-text-white: var(--color-white);
    --color-text-black: var(--color-black);
    
    --color-bg-white: var(--color-white);
  }