.btn {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fluid-size(70, 107);
    height: fluid-size(70, 107);
    border-radius: 50%;
    background: #000000f5;
    border: 1px solid #ffffff;
    color: var(--color-white);
    transition: 0.3s ease;

    &:disabled {
      border: 1px solid #ffffff80;
      color: #ffffff80;
      background: #000;
    }

    &:not(.btn__inner:disabled) {
      &:hover {
        background-color: #cee16f;
        border-color: #cee16f;
        color: black;
      }
    }
  }

  &:last-child {
    .btn__icon {
      transform: rotate(180deg);
    }
  }

  &__icon {
    width: fluid-size(15, 30);
  }
}
