.section {
  padding: fluid-size(120, 220) 0 fluid-size(220, 350);

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: fluid-size(80, 90);
  }

  &__header {

    @include media-up(md) {
      max-width: 60%;
    }

    @include media-down(md) {
      padding: 0 30px;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: fluid-size(20, 50);
  }

  &__description {
    text-align: center;
    font-size: fluid-size(16, 36);
    line-height: 137%;
  }

  &__list {
    width: 100%;
    display: grid;
    padding: 0 fluid-size(50, 125);

    @include media-up(md) {
      grid-template-columns: repeat(20, 1fr);
      grid-template-rows: repeat(3, fluid-size(150, 690));
      column-gap: 32px;
      row-gap: 40px;
    }

    @include media-down(md) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(6, fluid-size(255, 600));
      justify-items: center;
      gap: fluid-size(30, 60);
    }
  }

  &__card {
    border-radius: 20px;
    background: linear-gradient(180deg, #C7DF67 0%, #F9DBE5 100%);

    @include media-up(md) {
      &:nth-child(1) {
        grid-column: 1/ 10;
      }

      &:nth-child(2) {
        grid-column: 10 / 21;
      }

      &:nth-child(3) {
        grid-column: 1 / 8;
      }

      &:nth-child(4) {
        grid-column: 8 / 21;
      }

      &:nth-child(5) {
        grid-column: 1 / 13;
      }

      &:nth-child(6) {
        grid-column: 13 / 21;
      }
    }

    @include media-down(md) {
      max-width: 320px;

      &:nth-child(3) {
        grid-row: 4;
      }
    }
  }
}

.card {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: fluid-size(15, 50);

  &__text {
    position: relative;
    text-transform: capitalize;
    text-align: center;
    font-size: fluid-size(12, 36);
    font-weight: 700;
    line-height: 120%;
    color: var(--color-text-black);
    max-width: 640px;
  }
}