.hero {
  display: flex;
  position: relative;
  height: 100svh;

  img {
    object-fit: cover;
  }

  &--shift {
    @include media-up(xxl) {
      margin-bottom: -100px;
    }

    @include media-between(md, xxl) {
      margin-bottom: -80px;
    }

    @include media-down(md) {
      margin-bottom: -50px;
    }

    .hero__inner {
      padding-bottom: fluid-size(70, 150);
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: fluid-size(20, 40);
    position: relative;
    padding: 17px fluid-size(23, 44);
    z-index: 2;
    width: 100%;
    padding: fluid-size(100, 130) fluid-size(23, 44) fluid-size(24, 44);
  }

  &__content {
    display: flex;
    flex-direction: column;
    max-width: fluid-size(500, 1014);
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: fluid-size(16, 32);
    flex-wrap: wrap;

    @include media-down(md) {
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
    }
  }

  &__bottom_right {
    display: flex;
    align-items: center;
    gap: fluid-size(16, 32);
    margin-left: auto;

    @include media-down(md) {
      margin-left: 0;
      flex-direction: column;
    }
  }

  &__clutch {
    display: block;
    flex-shrink: 0;
  }

  &__title {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    text-transform: uppercase;
    font-size: fluid-size(28, 56);
    line-height: 120%;
    margin-bottom: fluid-size(10, 20);
  }

  &__description {
    text-transform: uppercase;
    font-size: fluid-size(14, 28);
    line-height: 120%;
  }

  &__networks {
    display: flex;
    gap: 30px;
  }

  &__network_link {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 120%;
    color: var(--color-text-black);
  }
}
