.section {
  position: relative;
  background: #000;

  &__inner {
    position: relative;
    padding: fluid-size(80, 120) fluid-size(30, 125) fluid-size(160, 200); 
  }

  &__title {
    text-align: center;
    color: var(--color-title-white);
    margin-bottom: fluid-size(80, 100);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: fluid-size(20, 30);
    max-width: 1480px;
    margin: 0 auto;
  }

  &__text {
    text-align: center;
    font-size: fluid-size(16, 36);
    line-height: 120%;
    text-transform: uppercase;
    color: var(--color-title-white);
  }
}